// Import fontawesome
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

// set glbal
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to top, #f236fd, #41d1e1);
  background-size: cover;
  background-repeat: no-repeat;
}

$myfont: "salsa", cursive;
$myShadow: 0px 7px 67px 0px rgba(0, 0, 0, 0.75);

.show {
  display: block;
}

.hidden {
  display: none;
}

// reuseable background
.my-gradient {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to top, #f236fd, #41d1e1);
  background-size: cover;
  background-repeat: no-repeat;
}

// splash page
.waffle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $myfont;
  position: relative;
  margin-top: 100px;
  .pic {
    position: relative;
    display: flex;
    align-items: center;

    .left-image,
    .right-image {
      max-width: 500px;
      max-height: 500px;
      position: absolute;
      z-index: 0;
      opacity: 0;
    }
    .left-image {
      animation-delay: 0.5s;
      left: -200px;
      animation: slide-in-left 1s forwards;
    }
    .right-image {
      animation-delay: 0.5s;
      right: -100px;
      bottom: -150px;
      animation: slide-in-right 1s forwards;
    }
    .punch {
      transition: color 0.7s ease, transform 0.7s ease;
      position: relative;
      z-index: 1;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      h1 {
        font-size: 10rem;
        transform: rotate(-10deg);
        margin: 0;
        opacity: 0;
        animation: fade-in 0.5s forwards;
      }
      #tap {
        display: none;
      }
    }
  }
}

#countdown {
  position: absolute;
  margin-top: 30%;
  left: 50%;
  transform: translateX(-60%);
  font-size: 2rem;
  color: #0e63a8;
}

.punch:hover {
  cursor: pointer;
  color: #0e63a8;
  transform: translateY(-10px);
}
.leave-left,
.leave-right {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  z-index: 0;
}

.leave-left {
  left: -200px;
  animation: fade-out-left 1s forwards;
}

.leave-right {
  right: -100px;
  bottom: -150px;
  animation: fade-out-right 1s forwards;
}

.sparkle1 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: sparkle 5s infinite;
  z-index: 1;
}
.sparkle2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: sparkle 3s infinite;
  z-index: 1;
}

// home page css
.banner {
  margin: 20px auto 0;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  border-radius: 8px;
  box-shadow: $myShadow;
  position: relative;
  z-index: 2;
  img {
    max-width: 400px;
    max-height: 200px;
  }
}
// mobile nav hide
.mobileNav {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 10px;
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #0e63a8;

  img {
    width: 30px;
    height: auto;
    display: block;
    margin: auto;
  }

  img:hover {
    cursor: pointer;
  }

  .mobileNavDropdown {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #0e63a8;
    border: 1px solid aliceblue;
    box-shadow: $myShadow;
    z-index: 4;
    font-family: $myfont;
  }

  .mobileNavTab {
    padding: 10px;
    border-bottom: 1px solid aliceblue;

    &:last-child {
      border-bottom: none;
    }

    a {
      color: aliceblue;
      text-decoration: none;
    }

    a:active {
      color: #000000;
    }
  }

  .mobileNavTab:hover {
    background-color: #ef43f8;
  }
}

// sidenav
.nav {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 0;

  .navTab {
    background-color: #0e63a8;
    border-radius: 4px;
    margin-top: 10px;
    padding: 4px;
    width: 40px;
    max-height: 40px;
    transition: width 0.3s;

    img {
      max-width: 40px;
      max-height: 40px;
    }
    a {
      color: transparent;
      text-decoration: none;
      font-family: $myfont;
      font-size: larger;
      display: block;
      padding: 8px;
    }
  }
}

.navTab:hover {
  cursor: pointer;
  width: 100px;
  background-color: #ef43f8;
}

.navTab:hover a {
  color: aliceblue;
}

.navTab:hover img {
  display: none;
}

.banner-text {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $myfont;
  color: aliceblue;

  h1 {
    font-size: 4rem;
    letter-spacing: 6px;
    text-decoration: underline;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }
}
.info {
  display: flex;
  flex-direction: wrap;
}

.film {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: aliceblue;
  padding: 10px;
  font-family: $myfont;
  letter-spacing: 3px;
  z-index: 3;
  iframe {
    background-color: #0e63a8;
    color: aliceblue;
    box-shadow: $myShadow;
    z-index: 2;
    border-radius: 5px;
    transition: transform 0.4s;
  }

  iframe:hover {
    transform: scale(1.05);
  }
}
.RSVP,
.film {
  flex: 1 1 50%;
  padding: 20px;
  z-index: 2;
}

// rsvp form
#mailer {
  background-color: rgba(139, 195, 248, 0.8);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: aliceblue;
    font-family: $myfont;
  }

  a {
    color: aliceblue;
    font-family: $myfont;
    font-size: medium;
  }
}

label {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin: 5px auto;
}

input[type="text"],
input[type="email"] textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(225, 225, 255, 0.6);
  // width: calc(80% - 20px);
}

#submitForm {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  text-decoration: none;

  img {
    width: 100%;
    transition: transform 0.3s;
  }
}
#submitForm:active #submitImg {
  transform: scale(0.9);
}

#submitForm:hover {
  img {
    transform: scale(1.2);
  }
}

.FYI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: $myfont;

  img {
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.4s;
  }

  img:hover {
    transform: scale(1.2);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  .modal-content {
    background-color: #4acafd;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-family: $myfont;
    color: aliceblue;

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    button {
      font-family: $myfont;
      padding: 10px 20px;
      background-color: #f6a9fa;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #ef43f8;
      color: aliceblue;
    }
  }
}

// movies page
.brunchFilms {
  margin: 10px auto;
  justify-content: center;
}

.filmCard {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: $myShadow;
  background-color: #0e63a8;
  position: relative;
  transition: transform 0.8s ease;
  z-index: 4;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  img {
    border-radius: 8px;
    max-height: 80%;
    max-width: 200px;
    margin: 10px 10px 10px;
  }

  .filmInfo {
    flex: 1;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: aliceblue;
    }

    a:hover {
      color: black;
    }
  }

  .tomatoes {
    margin-top: 0;
    display: flex;
    align-items: baseline center;

    p {
      font-weight: bold;
      margin: 15px 0 0;
    }
    img {
      margin: 0 0;
    }

    img {
      max-height: 40px;
      max-width: 40px;
    }
  }
}

.filmCard:hover {
  transform: scale(1.1);
}
.filmCard img:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 76, 227, 0.8);
  color: aliceblue;
  text-decoration: none;
  font-family: $myfont;

  img {
    padding: 10px;
    max-width: 50px;
    max-height: 50px;
  }
}

// menu page
.menuBody {
  margin: 10px auto;
  justify-content: center;
}

.recipeCard {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: $myShadow;
  background-color: #0e63a8;
  position: relative;
  transition: transform 0.8s ease;
  z-index: 4;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  img {
    border-radius: 8px;
    max-height: 80%;
    max-width: 200px;
    margin: 10px 10px 10px;
  }

  .recipeLink {
    flex: 1;
    margin-bottom: 0;
    a {
      text-decoration: none;
      padding-bottom: 10px;
      color: aliceblue;
    }

    a:hover {
      color: black;
    }
  }
}

.recipeCard:hover {
  transform: scale(1.1);
}

// media queries
// general and index
@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 14px;
  }

  .waffle {
    margin-top: 100px;
  }

  .pic {
    .left-image,
    .right-image {
      display: none;
    }
  }

  #countdown {
    padding-top: 50px;
    text-align: center;
  }
  #tap {
    display: block;
  }

  #punchText,
  #brunchText {
    font-size: 3rem;
  }
}
// home media queries
@media screen and (max-width: 480px) {
  .banner {
    img {
      display: none;
    }
  }

  #mailer {
    max-width: 100%;
  }

  .RSVP,
  .film {
    flex: 1 1 100%;

    iframe {
      max-width: 80%;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FYI {
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

// movies.html media queries
@media screen and (max-width: 480px) {
  .filmCard {
    max-width: 90%;
    margin: 10px auto;
    padding: 10px;
    img {
      max-height: 150px;
      max-width: 100%;
      margin: 10px auto;
    }
  }

  .filmInfo {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .tomatoes {
    margin-top: 5px;
    justify-content: flex-start;

    p {
      margin: 0 5px;
      font-size: 14px;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      margin-right: 5px;
    }
  }
}

// menu page media queries
@media screen and (max-width: 480px) {
  .recipeCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin: 10px auto;
    padding: 10px;
    img {
      max-height: 150px;
      max-width: 100%;
      margin: 10px auto;
    }
  }

  .recipeLink {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

// navtab media queries
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }

  .mobileNav {
    display: block;
  }
}

@media (min-width: 768px) {
  .mobileNav {
      display: none;
  }
}

// key frame animations
@keyframes sparkle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
