// set glbal
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// reuseable background
.my-gradient {
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(to top, #f236fd, #41d1e1);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  color: aliceblue;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// splash page
.waffle {
  display: flex;
  font-family: "Salsa", cursive;
  position: relative;
  .pic {
    position: relative;
    display: flex;
    align-items: center;

    .left-image,
    .right-image {
      max-width: 500px;
      max-height: 500px;
      position: absolute;
      z-index: 0;
      opacity: 0;
    }
    .left-image {
      animation-delay: 0.5s;
      left: -200px;
      animation: slide-in-left 1s forwards;
    }
    .right-image {
      animation-delay: 0.5s;
      right: -100px;
      bottom: -150px;
      animation: slide-in-right 1s forwards;
    }
    .punch {
      transition: color 0.7s ease, transform 0.7s ease;
      position: relative;
      z-index: 1;
      justify-content: center;
      align-items: center;
      margin: 0;
      h1 {
        font-size: 10rem;
        transform: rotate(-10deg);
        margin: 0;
        opacity: 0;
        animation: fade-in 0.5s forwards;
      }
    }
  }
}

.punch:hover {
  cursor: pointer;
  color: #0e63a8;
  transform: translateY(-10px);
}
.leave-left,
.leave-right {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  z-index: 0;
}

.leave-left {
  left: -200px;
  animation: fade-out-left 1s forwards;
}

.leave-right {
  right: -100px;
  bottom: -150px;
  animation: fade-out-right 1s forwards;
}

.sparkle1 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: sparkle 5s infinite;
}
.sparkle2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: sparkle 3s infinite;
}

// home page css
.banner {
  margin: 20px auto 0;
  max-width: 90%;
  display: flex;
  align-items: center;
  border: black solid 2px;
  border-radius: 8px;
  box-shadow: 0px 7px 67px 0px rgba(0, 0, 0, 0.75);
  img {
    max-width: 400px;
    max-height: 200px;
  }
}

.banner-text {
  align-items: center;
  justify-content: center;
  font-family: "salsa", cursive;
  color: aliceblue;

  h1 {
    font-size: 4rem;
    letter-spacing: 6px;
    text-decoration: underline;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }
}

.menu {
  margin: 10px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 8px;
  overflow: visable;
  position: relative;
  i {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-btn {
    background-color: #3498db;
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 80vw;
    box-sizing: border-box;

    &.show {
      display: block;
    }

    a {
      color: black;
    }
  }
}
.menu-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.menu-card {
  flex: 0 0 calc(33.33% - 20px);
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  font-family: "Frank Ruhl Libre", serif;

  img {
    max-width: 200px;
    height: auto;
  }
}

.menu-text {
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }
}

// key frame animations
@keyframes sparkle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
